@charset "UTF-8";

.gauche {
	float: left;
}

.droite {
	float: right;
}

body {
	background-color: white;
}

.formidentifiant {
	display: flex;
	justify-content: center;
	text-align: right;
}

.formtest {
	margin: 1em;
	display: inline-block;
	width: 1080px;
	text-align: right;
}

.center {
	display: flex;
	justify-content: center;
	line-height: 20px;
}

.bouttoncarre {
	padding: 15px;
}
 
.btncreercompte {
	margin-left: 48%;
	padding: 20px;
}

.centerprofil {
	margin-left:20%;
	margin-right:20%;
	display: flex;
	justify-content: space-around;
}

.button {
  font: bold 11px Arial;
  text-decoration: none;
  background-color: #c0c0c0;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}